/* Importa la hoja de estilo 'modern-normalize.css' desde la carpeta 'node_modules' */
@import '~node_modules/modern-normalize/modern-normalize.css';

/* Establece algunas reglas generales para todos los elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Establece el color de fondo del cuerpo de la página */
body {
  background-color: rgba(224, 224, 224, 0.862);
}

/* Define el estilo para el formulario de búsqueda */
.search-form {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 10px;
  height: 55px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

/* Define el estilo para el botón de envío en el formulario de búsqueda */
button[type='submit'] {
  background: #ffffff;
  color: rgb(1, 1, 1);
  padding: 10px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 90px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Define el estilo para el botón de envío en el formulario de búsqueda cuando el cursor está sobre él */
button[type='submit']:hover {
  font-size: 14px;
  background: rgb(39, 238, 3);
}

/* Define el estilo para la galería de fotos */
.gallery {
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: cover;
  gap: 25px;
  color: black;
}

/* Define el estilo para cada tarjeta de foto en la galería */
.photo-card {
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Define el estilo para cada tarjeta de foto en la galería cuando el cursor está sobre ella */
.photo-card:hover {
  transform: scale(1.1);
}

/* Define el estilo para la información de cada tarjeta de foto en la galería */
.info {
  color: rgb(0, 0, 0);
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* Define el estilo para cada ítem de información en la tarjeta de foto */
.info-item {
  text-align: center;
  font-size: 12px; /* Añade un tamaño de fuente para que sea legible */
  font-weight: normal;
}

/* Define el estilo para el texto en negrita en la tarjeta de foto */
span {
  font-weight: bold;
  font-size: 13px;
}

.load-more {
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  display: block;
  color: black;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-rounded-fill{
  background-color: rgb(42, 41, 43);
  width: 30px;
  height: 30px;
  border-radius: 25px; 
  margin-right: 30px;
}